{% extends 'base.html' %}
{% load static %}
{% block title %}Shop - Mamizya{% endblock %}

{% block content %}
    <main>
        {% block sidebar %}{% include 'components/sidebar.html' %}{% endblock %}

        <!-- shop main area start  -->
        <div class="shop-main-area pt-120 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="shop-main-wrapper mb-60">
                            <div class="products-wrapper products-full-4-column">
                                {% for rs in products %}
                                    <div class="single-product">
                                        <div class="product-image pos-rel">
                                            <a href="{% url 'shop-detail' rs.id %}" class=""><img src="{{ rs.image.url }}" alt="img"></a>
                                        </div>
                                        <div class="product-desc">
                                            <div class="product-name"><a href="{% url 'shop-detail' rs.id %}">{{ rs.title }}</a></div>
                                            <div class="product-price">
                                                <span class="price-now">{{ rs.price }} UZS</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% if count > 10 %}
                            <div class="common-pagination mt-30 mb-20">
                                <ul>
                                    <li><a href="#"><i class="fal fa-angle-left"></i></a></li>
                                    <li class="active"><a href="#"><span>01</span></a></li>
                                    <li><a href="#"><span>02</span></a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop main area end  -->


    </main>
{% endblock %}