{% load static %}

<!-- side toggle start -->
<div class="fix">
    <div class="side-info">
        <div class="side-info-content">
            <div class="offset-widget offset-logo mb-40">
                <div class="row align-items-center">
                    <div class="col-9">
                        <a href="{% url 'index' %}">
                            <h1>Mamizya</h1>
                        </a>
                    </div>
                    <div class="col-3 text-end">
                        <button class="side-info-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="mobile-menu d-lg-none fix"></div>
            <div class="offset-widget offset_searchbar mb-30">
                <form action="/search/" class="filter-search-input">
                    <input type="text" name="keyword" placeholder="Qidirish ...">
                    <button><i class="fal fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<div class="offcanvas-overlay-white"></div>

<!-- side toggle end -->